.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerInput{
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
}

.containerInput form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.containerInput button {
  margin-top: 10px;
}

.itemList-item{
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
